body{
    background-image: url('../image/bg.jpg');
    padding: 0 5px;
}


.mobile-view-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.267);
    border-left:1px solid white;
    border-right: 1px solid white;
    overflow: hidden;
    z-index: 999;

}

.overlay2 {
    position: absolute;
    top: -105px;
    left: 26%;
    z-index: 0;
    width: 315px;
    height: 310px ;
    background-color: #298fe2;
    border-radius: 25px;
    border-bottom-right-radius: 50%;
    transform: rotate(45deg);
    opacity: 0;
    transition:  linear .5s;


}
.app{
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    padding: px;
    position: relative;
    overflow: hidden;

}

.top, .middle, .bottom{
    box-sizing: border-box;
}



.top{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #d6dadd6e;
    /* border-radius: 25px; */
    margin: 10px 10px 0px 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    

}

.top .top-left{
    padding: 10px;
    width:10%;
   
}
.top .top-left-content{
    z-index: 999;
}
.top .top-left .left-container i{
    color: rgb(0, 0, 0);
    align-self: center;
    transition: all linear 0.5s;
}

.top .top-middle{
    flex:1;

}

.top .top-middle form{
    position: relative;
}

.top .top-middle input{
    position: relative;
    /* border: 1px solid black; */
    border-radius: 25px;
    height: 30px;
    width: 100%;
    text-indent: 5px;
    /* background-color:#298fe2;  */
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    text-transform: lowercase;
    text-indent: 10px;
    font-size: 20px;
}
.top .top-middle input:focus{
    border: 1px solid #298fe2;
    border-radius: 25px;
   
}
.top .top-middle input:focus  .app .overlay2{
    opacity: 1;
}

.top .top-middle button{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* .top .top-middle button i{} */

.top .top-right{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    width: 10%;


}

.top .top-right .content{
    z-index: 999;
}

.top .top-right img{
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    float: right;

}




.middle{
    flex:1;
    overflow: scroll;
    display: block;
    /* box-shadow: 0px 0px 5px rgba(0,0,0, 0.2); */
    padding: 10px;
    margin: 10px;
    background-color: inherit;
    z-index: 1;

}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
  
  
  
  
  
.middle-element{
    text-align:justify;
    z-index: 999;
    padding: 10px;
}



.bottom{
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    background-color: white;
   
}
.bottom .bottom-links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.bottom .bottom-links a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 100%;
    text-align:center;
    color: black;
}

.bottom .bottom-links a i{
    font-size: 20px;
    margin: 2px;
}

.active{
    display: flex;
    color: white;
    background-color: rgb(25, 165, 32);
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
    position: relative;
    padding: 5px;

}
.active::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:5px;
    background-color: rgb(255, 255, 255);
    ;
}

@media (min-width: 361px){
    body{
        background-image: url('../image/bg.jpg');
        background-position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mobile-view-body{
        width: 100%;
        margin: 0 auto;
        background-color:inherit;
        height: 95vh;
        margin: 2vh auto;
        border-radius: 5px;
        background-color: rgba(245, 245, 245, 0.342);
    }
    .top{
        width: 98%;
        margin: 5px;
    }
    .middle{

        margin: 0 15px;
        background-color: inherit;
        overflow: scroll;

    }
    .middle-element{
        padding: 10px;
        
    }
    .bottom{
        width: 100%;
        margin-top: 5px;;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

}
@media (min-width:570px) {
    .container{
        width: 570px;
    }
}
@media ( max-width: 361px) {
    .container {
        width: 95%;
    }
    .mobile-view-body .overlay{
        position: absolute;
        top: -220px;
        left: 7%;
        width: 300px;
        height: 400px;
        z-index: -1;
        border-radius: 100%;
        background-color: rgb(0, 255, 221);
        transform: rotate(90deg);
    }
}


.app .top .top-left{
    position:relative;
}

.app .top .top-left .top-left-content{
    position:absolute ;
    background-color: white;;
    height:500px;
    padding: 10px;;
    width: 200px;
    top:45px;
    left:0;
    display:none;
    transition: ease-in .5s;
   

}

.top-left-content ul li a{
    color: white;
    width: 150px;;
    padding: 15px;
    border: 1px solid white;
    margin:5px;
    background-color: gray;
    transition: all linear 0.5s;
}

.top-left-content ul span{
    float: right;
    color:rgb(12, 5, 5);
    border-radius: 50%;
    font-size: 25px;
    padding:5px;
    opacity: .4;
    cursor: pointer;
    transition:all linear .3s;
}

.top-left-content ul span:hover{
    color:red;
    opacity: 1;
}

.top-left-content ul li a:hover{
    opacity:.7;
}

.top .top-left .left-container i:hover{
    color: red;
}

.top .top-right{
    position: relative;
}

.top .top-right .content{
    position: absolute;
    display: inline-block;
    top:55px;
    right: 0px;
    text-align: right;
    padding: 10px;
    height: 70vh;
    display: none;
    background-color:rgba(255, 255, 255, 0.993);
}



.top .top-right .content a{
    padding: 10px;
    width:150px;
    color: white;
    margin-top: 2px;
    background-color: rgb(129, 129, 129);
}

.top .top-right .content span{
    float: left;
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.top .top-right .content span:hover{
    color: red;
    cursor: pointer;

}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  } 

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }