
.animation-3d {
  /* border: 1px double ; */
  position: relative;
  width: 300px;
  height: 200px;
  margin: 50px auto;
  text-align: center;
  background-color: gray;
  border-top:;
}

.animation-3d .first {
  position: absolute;
  top: 50px;
  left: 100px;
  /* transform: translate(50%, 50%); */
  width: 100px ;
  height: 100px;
  background-color: rgb(0, 150, 0);
  
  border-radius: 50%;
  border: 4px solid rgb(0, 150, 0);
  border-top: 3px solid purple;
  border-bottom: 3px solid purple;
  animation: rotate-3d 2.5s ease forwards infinite;
 
}
.animation-3d .second {
  position: absolute;
  top: 56px;
  left: 106px;
  /* transform: translate(-50%, -50%); */
  width: 88px;
  height: 88px;
  border: 3px solid rgb(0, 150, 0);
  border-radius:50%;
  border-top: 3px solid purple;
  border-bottom: 3px solid purple;
  animation: rotate-3d 2.3s ease forwards infinite;
}

.animation-3d .third {
  position: absolute;
  top: 65px;
  left: 115px;
  /* background-color: rgb(184, 201, 184); */
  width: 70px;
  height: 70px;
  border: 3px solid gray;
  border-top: 3px solid purple;
  border-bottom: 3px solid purple;
  border-radius: 50%;
  animation: rotate-3d 2s ease forwards infinite;
}
@keyframes rotate-3d {

  to {transform: rotate(360deg)};

}
