@keyframes rotate-3d {

  to {transform: rotate(360deg)};

}


.timing-fungtion {
  position: relative;
  width: 100%;
  height: 100%;
}

.timing-fungtion .time-body{
  width: 350px;
  height:350px;
  margin: 20px auto;
  /* border: 4px solid; */
  background-color: lightblue;
  border-radius: 50%;
  position: relative;
  border: 2px solid white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  /* animation: rotate-3d 300s linear infinite alternate-reverse; */
}


.timing-fungtion .time-body .overlay{

}
.show-clock {
  position: absolute;
  top: 140px;
  left: 75px;
  z-index: 999;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  box-shadow:0px 0px 5px black ;
  display: flex;
  background-color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.show-clock div {
  margin: 0 5px;
  font-size: 20px;
}
.show-clock div:not(:last-child) {
  border-right: 4px solid lightcoral;
  padding: 5px;
}

.show-cal {
  position: absolute;
  top: 230px;
  left: 100px;
  width: 200px;
  height: 60px;
  border-radius: 25px;
  z-index: 999;
  /* box-shadow:0px 0px 5px black ; */
  display: inline-block;
}

.show-cal div {
  width: 150px;
  margin:5px 2px;
  display: flex;
  text-align: center;
}
.show-cal .current_day {
  text-indent: 35px;
}
.timing-fungtion .time-body .hour {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 320px;
  height: 320px;
  background-color: lightcoral;
  border-radius: 50%;
  position: relative;
  border: 2px solid white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  animation: rotate-3d 2s linear infinite;
  box-shadow:0px 0px 5px black ;
}

/* .timing-fungtion .time-body .hour .point{
  position: absolute;
  top: 0;
  left: 146px;
  width: 8px;
  height: 10px;
  background-color: black;

} */


.timing-fungtion .time-body .minute {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 280px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1;
  border: 2px solid rgb(255, 255, 255);
  border-left: 2px solid black;
  border-right: 2px solid black;
  animation: rotate-3d 2s linear infinite reverse; 
  box-shadow:0px 0px 5px black ;
}

/* .timing-fungtion .time-body .minute .minute-point .pointer{
  position: absolute;
  top: 0;
  left: 137.5px;
  width: 5px;
  height: 50px;
  background-color: black;


} */

.timing-fungtion .time-body .second {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 250px;
  height: 250px;
  background-color: lightcoral;
  border-radius: 50%;
  z-index: 2;
  animation: rotate-3d 60s linear forwards infinite;
  border: 2px solid rgb(255, 255, 255);
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow:0px 0px 5px rgb(16, 218, 32) ;
}

/* 
.timing-fungtion .time-body .second .point{
  position: absolute;
  top: 0;
  left: 121px;
  width: 3px;
  height: 50px;
  background-color: black;

} */


.timing-fungtion .time-body .point-12{
  position: absolute;
  top: 0px;
  left: 171px;
  width: 8px;
  height: 30px;
  background-color: black;

}
.timing-fungtion .time-body .point-9{
  position: absolute;
  top: 171px;
  left: 0;
  width: 30px;
  height: 10px;
  background-color: black;
}
.timing-fungtion .time-body .point-3{
  position: absolute;
  top: 171px;
  right: 0;
  width: 30px;
  height: 10px;
  background-color: black;
}
.timing-fungtion .time-body .point-6{
  position: absolute;
  bottom: 0;
  left: 171px;
  width: 10px;
  height: 30px;
  background-color: black;
}





/* date shower start  */
.digital-clock {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 20px auto;
  background-color: rgb(155, 70, 82);
  border-radius: 10px;
  box-shadow: -0px -0px 10px black;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.digital-clock .clock-body {
  display: flex;
  justify-content:center;
  width: 100%;
  border: 2px solid white;
  /* box-shadow: 0px 0px 5px black; */
  border-radius: 10px;
  /* align-self: stretch; */
  /* background-color: lightslategrey; */
}

.digital-clock .clock-body .clock-output {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 150px;
  align-self: center;
  width:100px;
  height: 50px;
  background-color: lightpink;
  border-radius: 25px;
  box-shadow: 0px 2px 5px white;

  
}



.digital-clock .clock-body .clock-output .div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;  
  width: 33%;
  /* border: rgb(255, 0, 0); */
}

 .digital-clock .clock-body .day-output {
  position: absolute;
  top: 60px;
  width: 90%;
  height: 230px;
  /* border: 1px solid; */
  /* border-radius: 10px; */
  background-color: lightpink;
  box-shadow: 0px 0px 5px ;
}

.digital-clock .clock-body .day-output .week {
  display: flex;
}
.digital-clock .clock-body .day-output .week div{
  width: 9%;
  border-bottom:3px solid white ;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
/* 
.digital-clock .clock-body .month{
 width: 100%;
 height: 200px;
 box-sizing: border-box;
  
}
.digital-clock .clock-body .month .first, .second, .last {
  display: flex;
  box-sizing: border-box;


}

.digital-clock .clock-body .month .first div, .second div, .last div {
  width: 12%;
  font-size: 20px;
  /* padding: 10px; */

.digital-clock .clock-body #month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.digital-clock .clock-body #month div {
  padding: 5px 0;
  text-align: center;
  
}