body{
    background-image: url('bg.jpg');
    padding: 0 5px;
}
.container{
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}

.mobile-view-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.267);
    border-left:1px solid white;
    border-right: 1px solid white;

}

.app{
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    padding: px;
}

.top, .middle, .bottom{
    box-sizing: border-box;
  


}





.top{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin: 10px 10px 0px 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);

}

.top .top-left{
    padding: 10px;
    width:10%;

   
    
}
.top .top-left .left-container i{
    color: black;
    align-self: center;
    transition: all linear 0.5s;
}

.top .top-middle{
    flex:1;

}

.top .top-middle form{
    position: relative;
}

.top .top-middle input{
    position: relative;
    /* border: 1px solid black; */
    border-radius: 25px;
    height: 30px;
    width: 100%;
    text-indent: 5px;
    background-color:rgb(255, 255, 255) ;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    text-transform: lowercase;
}

.top .top-middle button{
    position: absolute;
    right: 10px;
    top: 50%;

    transform: translate(-50%, -50%);
    border-radius: 50%;



}
/* .top .top-middle button i{} */

.top .top-right{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    width: 10%;


}

.top .top-right img{
    border: 1px solid green;
    border-radius: 50%;
    height: 30px;
    float: right;

}




.middle{
    flex:1;
    overflow: scroll;
    display: block;
    /* box-shadow: 0px 0px 5px rgba(0,0,0, 0.2); */
    padding: 10px;
    margin: 10px;
    background-color: white;

}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
  
  
  
  
  
.middle-element{
    text-align:justify
}



.bottom{
    width: 100%;
    height: 50px;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
    background-color: white;
   
}
.bottom .bottom-links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.bottom .bottom-links a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 100%;
    text-align:center;
    color: black;
}

.bottom .bottom-links a i{
    font-size: 20px;
    margin: 2px;
}

.bottom .bottom-links a.active{
    font-display: flex;
    flex-direction: column;
    width: 50px;
    color: white;
    background-color: rgb(25, 165, 32);
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);

}

@media (min-width: 576px){
    body{
        background-image: url(bg.jpg);
    }
    .mobile-view-body{
        width: 575px;
        margin: 0 auto;
        background-color:inherit;
        height: 95vh;
        margin: 2vh auto;
        border-radius: 5px;
        background-color: rgba(245, 245, 245, 0.342);
    }
    .app{
        margin: 10px 350px 10px 350px;
        /* background-color: rgba(255, 255, 255, 0.651); */
    }
    .top{
        width: 565px;
        margin: 5px;
    }
    .middle{
        width: 545px;
        margin: 0 15px;
        background-color: inherit;

    }
    .middle-element{
        width: 505px;
        height:auto;
        padding: 10px;
        background-color: rgb(255, 255, 255);
    }
    .bottom{
        width: 575px;
        margin-top: 5px;;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

}