#fb-login {
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
  background-color: indigo;
  font-size: 15px;
}


#fb-login i {
  opacity: 0;
  padding: 5px 0;
  font-size: 15px;
  transition: linear .5s;
  margin-left: -5px;
}
#fb-login:hover span {
  margin-left: 0px;
  /* background-color:rgb(129, 49, 185); */
  /* padding-right: 0; */
}
#fb-login:hover i {
  margin-left: 2px;
  opacity: 1;
  transition: linear .5s;
}







.main-div {
  width: 100%;
  height: 500px;
  border: 1px solid;
  border-radius: 50%;
  position: relative;
  border-color: yellow black white green;
  /* animation: main-rotate 5s linear reverse infinite; */

}
#div1 {
  position: absolute;
  top: 25%;
  left: 25%;
}
#div2 {
  position: absolute;
  top: 25%;
  right: 25%;
}
#div3 {
  position: absolute;
  bottom: 25%;
  left: 25%;
}
#div4 {
  position: absolute;
  bottom: 25%;
  right: 25%;
}
.gradiant{
  width: 2px;
  height: 2px;
  background-image: radial-gradient( white,gray, black);
  border-radius:50% ;
  border: 25px solid;
  border-color: black green yellow white; 
  animation: inner-rotate 2s linear forwards infinite;

}



@keyframes inner-rotate {
  to {transform: rotate(360deg)};
}
@keyframes main-rotate {
  to {transform: rotate(360deg)};
}

