.clickTest{
    width:300px;
    margin:0 auto;
    text-align: center;
    /* border: 3px solid green; */
}
.clickTest button{

    margin: 0 auto;
    padding: 20px;
    border: 0;
    background-color: green;
    color: white;
    font-size: 20px;
    position:relative;
    transition: .1s;
    overflow: hidden;
    cursor: pointer ;
}
.clickTest button::after{
  content:"";
  background-color: rgb(136, 231, 149);
  display: block;
  position:absolute;
  top: 0;
  right:0;
  opacity:0 ;
  padding: 0;
  transition: 0.5s;
}


.clickTest button:active:after {
   padding:100px;
   opacity: 1;
   transition: 0s;
}



/* second button start */
.second-button{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.second-button button{
    position: relative;
    padding: 20px;
    font-size: 20px;
    border: 0;
    background-color: tomato;
    cursor: pointer;
    color: white;
    text-transform: ;
    overflow: hidden;

}
.second-button button::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(245, 8, 8);
    transition: .6s;
    opacity:0;
}
.second-button button:active:after{
    padding: 0;
    opacity:1;
    transition: 0s;
}
/* second button end */


/* third style start */
.third-style{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}


.third-style button{
  position: relative;
  padding: 15px;
  color: black;
  margin: 5px;
  text-decoration: none;
  background-color: indianred;
  overflow: hidden;
  z-index: 999;
  border: none;
  transition:  linear.5s;
}


.third-style button::after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 50%;
  background-color: rgb(0, 255, 106);
  opacity: 0;
  transition: .5s;
}
.third-style button:hover:after{
  opacity: 1;
  padding: 0;
  transition: 0s;
}
.third-style button:hover{
  background-color: green;
  transition: linear .5s;
  color: white;
}





/* button three start */
.third-button{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.third-button button{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: inherit;
    cursor: pointer;
}
.third-button .success{
    background-color: none;
    border: 1px solid green;
    transition: linear .3s;
    color: green;
}
.third-button .success:hover{
    background-color: green;
    color: white;
}

.third-button .info{
    background-color: none;
    border: 1px solid rgb(27, 235, 231);
    transition: linear .3s;
    color: rgb(27, 235, 231);
}
.third-button .info:hover{
    background-color: rgb(8, 239, 247);
    color: white;
}

.third-button .warning{
    background-color: none;
    border: 1px solid rgb(206, 206, 88);
    transition: linear .3s;
    color: rgb(206, 206, 88);
}
.third-button .warning:hover{
    background-color: rgb(206, 206, 86);
    color: white;
}

.third-button .danger{
    background-color: none;
    border: 1px solid red;
    transition: linear .3s;
    color: rgb(255,0,0);
}
.third-button .danger:hover{
    background-color: red;
    color: white;
}

.third-button .default{
    background-color: none;
    border: 1px solid gray;
    transition: linear .3s;
    color: gray;
}
.third-button .default:hover{
    background-color: gray;
    color: white;
}
/* button three end */



/* social media use  */
.social-media a{
    padding: 30px;
    margin: 2px 0;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: linear 0.3s;
}
.social-media a:hover{
    opacity: 0.7;
    border-radius: 50%;
}



.social-media .fa-facebook{
    background-color:  #1be95f;
}
.social-media .fa-twitter{
    background-color:  #55668a;
}
.social-media .fa-google{
    background-color:  #b63e3e;
}
.social-media .fa-linkedin{
    background-color:  #3d6eda;
}
.social-media .fa-youtube{
    background-color:  #701b18;
}
.fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }

  /* social icon end */



  /* loading button start*/
  .forth-style{
    width: 300px;
    margin: 0 auto; 
    text-align: center;
  
  }
  .forth-style .item{
    display: flex;
    align-items: center;

  }
  .forth-style .item div{
    margin: 5px;
  }

  .forth-style .loader1{
    width: 50px;
    height: 50px;
    border-radius: 50%;;
    border: 10px solid gray;
    border-top:10px double green;
    animation: spin 2s linear infinite ;

  }
  @keyframes spin {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
  }
  .forth-style .loader2{
    position: relative;
    width: 50px;
    height: 50px;
    /* background-color: gray; */
    border-radius: 50%;
    border-right: 1px solid rgb(255, 3, 3);
    border-bottom: 1px solid rgb(255, 0, 0);
    border-left: 1px solid rgb(255, 0, 0);
    overflow: hidden;
    animation: spin 2s linear infinite;
  }
  .forth-style .loader2 .fa-caret-down{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: green;
    
  }


  .forth-style .loader3{
    position: relative;
    width: 20px;
    height: 20px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
    /* background-color: green; */
    border-top:6px groove rgb(228, 60, 60);
    border-right: 6px groove red;
    border-bottom: 6px groove red;
    
    animation: spin2 2s ease-out infinite;
  }
  

  .forth-style .loader4 .fa-spinner{
   
    font-size: 30px;
  }

  .forth-style .loader5{
    width: 20px;
    height: 20px;
    border: 5px dotted black;
    border-radius:50%;
    animation: spin2 2s ease infinite;
  }
  .forth-style .loader5{
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-width: 4px;
    border-top-style:dashed;
    border-top-color: green;

    animation: spin2 2s ease-in infinite;
  }
  @keyframes spin2 {
    0% { transform: rotate(0); }
    50% { opacity: 0.5;}
    100% { transform: rotate(360deg);}
  }

  /* loading button end */




  /* notification button*/
  .notification{
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .notification button{
    background-color: gray;
    border: 0;
    border-radius: 3px;
    padding: 5px 15px;
    size: 10px;
    position: relative;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
  }
  .notification button i{
    size: 15px;
  }
  .notification button span{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 7px;
    background-color: red;
    color: rgb(255, 255, 255);
    border-radius: 50%;
  }



  .notification .notify{
    position: relative;
    padding: 5px;
    cursor: pointer;

    
  }
  .notification .notify span{
    position: absolute;
    top: -15px;
    right: -10px;
    border-radius: 50%;
    background-color: rgb(51, 240, 247);
    color: rgb(255, 0, 0);
    transition: ease .3s;
    z-index: -1;
  }
  .notification .notify::after{
    content: "5 notification here ";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: 150px;
    background-color: rgb(101, 224, 233);
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    transition: ease .3s;

  }
  .notification .notify:hover span{
    opacity: 0;
  }
  .notification .notify:hover::after{
    display: block;
  }
  .notification .textNotify span{
    background-color: white;
    border: 1px solid gray;
    color: black;
  }

  /*notification button*/


  /* Icon button start */
  .iconButton{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
  }
  .iconButton .container{
    display: flex;
    flex-direction: row;
    justify-content:;


  }
  .iconButton .container .content button{
   
    padding: 10px 10px;
    border: 0;
    background-color: green;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: linear 0.5s;
  }
  .iconButton .container #share{
    border: 1px solid green;
    background-color: inherit;
    color:black;
    cursor: pointer;
    width: 70px;
    height: auto;
    transition: linear .3s;
    overflow: hidden;
    position: relative;
  }
  .iconButton .fab{
    font-size: 12px;
    ;
  }
  .iconButton .content{
    opacity: 0;
    margin-left: 30px;
    transition: linear .5s;
  }
  .iconButton .container:hover .content{
    opacity: 1;
    margin-left:0px;
    transition:  linear .5s;

  }
  .iconButton .container #share:hover{
    background-color: green;
  }
  .iconButton .content button:hover{
    opacity: .7;
    border: none;
    font-size: 16px ;
  }
  /* Icon button end*/